.post-figure, .post-figure>img {
    margin: 0;
}

.content {
    box-sizing: border-box;
    margin: 0;
    width: 95%;
}

.hero-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.list-header-title {
    font-size: 1.5em;
}

@media (min-width: 40.063em) {
    .content {
        margin: 3rem 1rem;
        max-width: 52rem;
        border-radius: 0.5rem;
        box-shadow: 0 .7rem 1.4rem 0 rgba(0, 0, 0, .25), 0 .5rem .5rem 0 rgba(0, 0, 0, .22);
    }
    .hero-grid {
        grid-template-columns: 1fr 1fr;
    }
    .post-figure {
        position: sticky;
        align-self: start;
        top: 2rem;
    }
    .list-header-title {
        font-size: 3em;
    }
}

@media (min-width: 900px) {
    .content {
        margin: 3rem auto;
    }
    .hero-grid {
        grid-template-columns: 1fr 2fr;
    }
}

.not-found-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.not-found-404 {
    margin: 0;
    font-size: 5rem;
}

.not-found-link {
    background-color: #ecedef;
    padding: .5em;
    border-radius: .2em;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 80%;
    text-align: center;
    height: 2.5rem;
}

.search-card-image {
    max-width: 5em;
    float: left;
    margin: 0;
    padding-right: 1rem;
}

.search-card-title {
    padding: 1rem 0 0 1rem;
    font-weight: 800;
}

.search-card {
    text-decoration: none;
}

.authors {
    list-style: none;
    display: inline;
    padding: 0;
}

.authors li {
    display: inline;
}

.authors li::after {
    content: ", ";
}

.authors li:last-child::after {
    content: "";
}