<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partial "head.html" . }}

<body class="single-body">
    {{ partial "nav-bar.html" . }}
    <main class="content side-text-padding">
        <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }}">
            <header class="post-header">
                <h1 class="post-title">{{ .Title }}</h1>
                {{ if isset .Params "date" }}<p class="post-date">Added <time
                        datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>{{ end }}
            </header>
            <section class="hero-grid">
                {{ with .Resources.GetMatch "featuredImage" }}
                <picture class="post-figure">
                    {{ with $.Resources.GetMatch (replace (.Title) (path.Ext (.Title)) ".webp") -}}
                    <source srcset="{{ .Permalink }}" type="image/webp">
                    {{- end }}
                    {{ $featured := .Resize "800x Lanczos" }}
                    <source srcset="{{ $featured.Permalink }}">
                    <img src="{{ $featured.Permalink }}" {{ with .Params.description -}} alt="{{ . }}" {{- end }}>
                </picture>
                {{ end }}
                <div>
                        {{ $taxo := "authors" }}
                        <strong>Author{{ if gt (len $taxo) 1 }}s{{ end }}:</strong>
                        <ul class="{{ $taxo }}" id="{{ $taxo }}">
                            {{ range .Param $taxo }}
                                {{ $name := . }}
                                {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
                                    <li><a href="{{ .Permalink }}">{{ $name }}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    <p>{{ if isset .Params "pages" }}<strong>Pages: </strong>{{ .Params.pages }}{{ end }}</p>
                    <p>{{ if isset .Params "isbn" }}<strong>ISBN10: </strong>{{ .Params.isbn }}{{ end }}</p>
                    <p><strong>Description:</strong> {{ .Params.description }}</p>
                </div>
            </section>

        </article>
        {{ template "_internal/disqus.html" . }}
    </main>
    <nav class="end-nav side-padding">
        {{ with .PrevInSection }}
        {{ .Render "li-next" }}
        {{ end }}
        {{ partial "home-card.html" . }}
    </nav>
    {{ partial "scripts.html" . }}
</body>

</html>